<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLGoogleMenuDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BA4AACA1D02BD0B00B41ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA4AADE1D02BD0B00B41ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA4AAE91D02BD0B00B41ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
